<h1 class="container">Add a new application!</h1>
<%= form_for [@user, @application] do |f| %>
<div class="row">
  <div class="container">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter app name" %>
      <%= f.label :url %>
      <%= f.text_field :url, class: 'form-control', placeholder: "Enter app's url" %>
    </div>
  </div>
</div>
  <div class="row">
    <div class="container">
      <div class='form-group'>
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
